<ul class="nav">
	<li {% if mixture.url == "index" %}class="current"{% endif %}><a href="/">Home</a></li>
	<li {% if mixture.url == "model" %}class="current"{% endif %}><a href="/model">Model</a></li>
</ul>