html {
  font-family: Arial, Helvetica, serif;
  font-size: 15px;
  background-color: #F3F3F3;
  color: #333;
}

body {
  padding: 20px;
}

.nav {
  overflow: hidden;
  *zoom: 1;
  padding: 0;
  list-style: none;
}
.nav > li {
  float: left;
}
.nav > li > a {
  background-color: #2F2F2F;
  color: #fff;
  border-left: 1px solid #fff;
  padding: 10px 15px;
  display: inline-block;
}
.nav > li:first-child > a {
  border-left: none;
}
.nav > li.current > a {
  background-color: #4F4F4F;
}

.btn {
  color: #fff;
  padding: 10px 15px;
  background-color: #2F2F2F;
  display: inline-block;
  margin-top: 5px;
}
